*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    border: 1px solid #ccc;
    background-color: #fff;
}
.todo-list{
    width:100%;
}
.item{
    width:100%;
    padding: 1rem;
    border-bottom: 0.02rem solid #777;
    display: flex;
    justify-content: space-between;
    max-height: 3.55em;

}
.unshown{
    display: none;
    z-index: -1;
}
.item .text{
    flex-grow: 2;
    padding-inline-start: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.item button{
    width:1.5rem;
}
.item:hover .del{
    display: block;
}
.del{
    display: none;
    border-style: none;
    background-color: transparent;
    color: rgb(200, 146, 146);
    font-size: 1.5rem;
}
.del:active{
    border: none;
}
.del:hover{
    color: rgb(128, 24, 24);
}
.check{
    border: #c6c4c4 solid 0.01rem;
    background-color: transparent;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.checked{
    color: greenyellow;
    border: yellowgreen solid 0.01rem;
}
:focus {
    border: 0.01em solid #777;
    outline:none;
}
.header{
    width: 100%;
    display: flex;
    border-bottom: #777 0.02rem solid;
}
.toDO-input{
    flex-grow: 2;
    padding: 1rem;
    background-color: #fff;
    border: none;

}
.checkAll{
    flex-grow: 0.3;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.checkAll::before{
    content:'❯';
    color: #777;
    left: 20%;
    top: 0%;
    padding: 0.5rem;
    font-size: 2rem;
    position: absolute;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
}
button{
    cursor: pointer;
}
.footer{
    width:100%;
    padding-block:0.7rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;

}
.footer::after{
    content: '';
    position: absolute;
    width: 95%;
    left: 0.7rem;
    height: 2rem;
    background-color: white;
    z-index: -1000;
    bottom: -0.3rem;
    box-shadow: 0 0 0.2rem #777;
}
.footer::before{
    content: '';
    left: 1.4rem;
    position: absolute;
    width: 90%;
    height: 2rem;
    background-color: white;
    z-index: -1000;
    bottom: -0.6rem;
    box-shadow: 0 0 0.2rem #777;
}
@media (max-width:59.0625em) {
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .counter,
    .all,
    .active,
    .completed,
    .clear{
        width: calc(100% / 3);
    }
    .completed,
    .clear{
        width: calc(100% / 2);
        margin-top: 1em;
    }
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
}
.all{
    grid-column: 2/3;
    border: none;
    background-color: transparent;
}
.active{
    grid-column: 3/4;
    border: none;

    background-color: transparent;
}
.completed{
    grid-column: 4/5;
    border: none;
    background-color: transparent;
}
.clear{
    cursor: pointer;
    border: none;
    grid-column: 5/6;
    background-color: transparent;
}
.footer button:hover a{
    border-color: rgb(128, 24, 24);
}