*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
main{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    min-width: 50%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding:0.75rem;
    border-bottom: 0.2rem solid #f5f5f5;
}
.header input{
    width:90%;
    border-style: none;
}
.header input:focus{
    outline: none;
}
.header span{
    width: 10%;
    position: relative;
    cursor: pointer;
}
.header span::before{
    content:"❯";
    color: #E4E4E4;
    position: absolute;
    top: -50%;
    left: 20%;
    font-size: 2rem;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
}


footer {
    display: block;
}

.footer {
    width: 100%;
    color: #777;
    padding:1.2rem;
    height: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    background-color: white;
    border-style: none;
    cursor: pointer;
}
button.selected{
    background-color: #f5f5f5;
    border: 0.01rem solid #532424;
}
.todo-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.item{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #4d4d4d;
}
.item span{
    padding-inline-start: 0.6rem;
    margin-inline-end: auto;
}
.completed{
    text-decoration: line-through;
    color: #777;
}
.del{
    display: flex;
    visibility: hidden;
    font-size: 1.5rem;
    color: rgb(71, 14, 14);
    justify-content: center;
    align-items: center;
    border:none;
    background-color: transparent;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration:none !important;

}
.del:hover{
    color: rgb(156, 11, 11);
}
.item:hover .del{
    visibility: visible;
}
.check{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem;
    border-style: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}